.league-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #d3d3d3;
  padding: 10px;
  grid-gap: 10px;
}

.league-grid-item {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
}

.league-title {
    text-align: left;
    font-size: 25px;
}

.playersDisplay {
  font-size: 20px;
}

.joinButton{
    width:65px;
    height:30px;
    display: flex;
    justify-content: flex-end;
}

.closedTag{
    font-size:20px;
    display: flex;
    justify-content: flex-end;
}

.admin-view-delete {
    float: right;
}

.deleteTeam {
    border-radius: 20px;
    font-size: 13px;
    padding: px;
    color: white;
    font-weight: bold;
    background-color: #e50000;

    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.no-team {
  background-color: #d3d3d3;
  padding-top: 20px;
  text-align: center;
}
